<div id="home"> 
  <app-menu (newNoteAdded)="addNote()"
            (deleteSelectedNote)="deleteNote()"
            (renameSelectedNote)="renameNote()"
            (saveSelectedNote)="saveNote()"></app-menu> 

  <div id="notes">
    <app-note-list [notes]="notes"
               [toggleRename]="toggleRename"
               [selectedNote]="selectedNote"
               (onSelectionChanged)="selectionChanged($event)"
               (onRenameComplete)="onRenameComplete()"></app-note-list>

    <app-note [note]="selectedNote"
              *ngIf="selectedNote != null"></app-note>
  </div>
  <div id="footer">
    <p>This amazing app was made by Greg Giannone</p>
  </div>
</div>