textarea {
    background-color: rgb(199, 255, 255);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    border: 0px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
}